.container {
    // background: linear-gradient(
    //     0.5turn,
    //     rgb(15, 216, 223),
    //     rgb(24, 177, 238),
    // );
    // background: linear-gradient(
    //     0.5turn,
    //     hsl(var(--hUpper), 87%, 47%),
    //     hsl(var(--hLower), 86%, 51%),
    // );
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cloudWrapper {
    width: 0;
    height: 0;
}

.cloudCirle {
    position: absolute;
    border-radius: 50%;
    filter: url(#filter);
}