.container {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.cloudWrapper {
    width: 0;
    height: 0;
}

.cloudCirle {
    position: absolute;
    border-radius: 50%;
    filter: url(#filter);
}