@font-face {
	font-family: 'Arimo';
	src:  url('/fonts/Arimo-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Archivo';
	src:  url('/fonts/ArchivoBlack-Regular.ttf') format('truetype');
}

body {
	color: rgba(243, 193, 101, 0.7);
	padding: calc(10px + 3vh) calc(5px + 2vw);
	margin: 0;
}

// addresses the background of the bar itself
body::-webkit-scrollbar {
	width: 0.7em;
}

// addresses the empty space below the progress bar
body::-webkit-scrollbar-track {
	background: linear-gradient(
		180deg,
		rgb(255, 255, 255) 0%,
		rgb(190, 190, 190) 100%,
	);
	box-shadow: inset 0px 0px 2px rgb(0, 0, 0);
}

// addresses the draggable scrolling element
body::-webkit-scrollbar-thumb {
	background: linear-gradient(
		180deg,
		rgb(243, 193, 101) 0%,
		rgb(221, 168, 70) 100%,
	);
}

::selection {
	color: rgba(255, 116, 51, 0.7);
	background: rgba(255, 255, 0, 0.7);
}

h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Archivo';
}

p, span, div {
	font-family: 'Arimo';
}

.header {
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 0.5rem;
	line-height: 1rem;
	margin-bottom: calc(1rem + 10vh);
}

.link {
	margin-left: 20px;
}

.content-wrapper {
	display: flex;
	position: relative;
	text-transform: uppercase;
}

.main {
	font-size: 10rem;
	line-height: 8rem;
	letter-spacing: -0.5rem;
	// Compensate for off typeface margins
	margin-left: -0.73rem;
}

.subtext {
	position: relative;
	font-size: 1.1rem;
	margin-top: calc(3rem + 10vh);
	color: rgba(243, 193, 101);

	p {
		margin-left: auto;
		width: fit-content;
	}

	span {
		color: black;
		background-color: rgba(243, 193, 101, 0.7);
		padding: 2px 8px;
		line-height: 1.5rem;

		&:first-of-type {
			padding-top: 8px;
		}

		&:last-of-type {
			padding-bottom: 8px;
		}
	}

	a {
		color: unset;
	}
}

.footer {
	width: 100%;
	height: calc(30px + 2vh);
}

@keyframes fadein {
	to {
		opacity: 1;
	}
}


@media screen and (max-width: 1050px) {
	.main {
		font-size: 8rem;
		line-height: 6.4rem;
		letter-spacing: -0.4rem;
		// Compensate for off typeface margins
		margin-left: -0.66rem;
	}

	.subtext {
		font-size: 0.88rem;

		span {
			padding: 1.6px 6.4px;
			line-height: 1.15rem;
		}
	}
}

@media screen and (max-width: 840px) {
	.main {
		font-size: 52px;
		line-height: 40px;
		letter-spacing: -1px;
		// Compensate for off typeface margins
		margin-left: -1.2375vw;
	}

	.subtext {
		font-size: 0.75rem;

		span {
			padding: 2px 6.2px;
			line-height: 1.12rem;
		}
	}
}